*{
    margin: 0;
    padding: 0;
}

header{
    padding: 0 300px;
    background-color: #FF4747;
    height: 80px;
    line-height: 80px;
    box-sizing: border-box;
}

header .brand{
    cursor: pointer;
}

header .brand img{
    padding: 10px 0;
    height: 60px;
    float: left;
}

header ul{
    float: right;
}

header ul li{
    list-style-type: none;
    display: inline-block;
}

header ul li a{
    text-decoration: none;
    color: #FFF5E6;
    font-family: Roboto;
    font-size: 17px;
    padding: 0 8px;
}

header ul li a:hover{
    color: #E5DCD3;
    transition: 0.3s;
}

.download{
    height: 420px;
    margin: 125px 0;
    padding: 0 250px;
    background-color: #f8f8f8;
    box-sizing: border-box;
}


.download .download-content{
    width: 100%;
}

.download .download-text{
    width: 45%;
    float: left;
    padding: 90px 0;
}

.download .download-text h2{
    font-family: Roboto;
    font-size: 40px;
}

.download .download-text .googlePlay{
    display: inline-block;
    border-radius: 10px;
    margin: 20px 0;
    height: 70px;
}

.download .download-text .googlePlay a img{
    height: 70px;
}

.download .img-phones img{
    margin-top: -7.5%;
    width: 55%;
    float: right;
}

/* .googlePlay div{
    float: left;
    height: 48px;
    line-height: 48px;
}

.googlePlay .text{
    padding-left: 8px;
}

.googlePlay .text{
    font-size: 12px;
}

.googlePlay .text p{
    font-size: 20px;
    font-family: sans-serif;
}

.googlePlay .text p span{
    font-size: 22px;
}

.googlePlay i{
    font-size: 48px;
} */

footer{
    background-color: rgb(255, 245, 230);
    padding: 25px 20%;
    padding-top: 40px;
    box-sizing: border-box;
    font-family: Roboto;
    height: 414px;
    margin-top: 100px;
}

footer .brand-footer{
    text-align: center;
}

footer .brand-footer img{
    height: 150px;
}


footer .content-footer{
    height: 195px;
    width: 100%;
}

footer .col{
    float: left;
    text-align: left;
    width: 31%;
    box-sizing: border-box;
    height: 195px;
}

footer .col.icons{
    width: 7%;
    float: right;
    padding-right: 0px;
    /* padding-left: 90px; */
}

footer .col h3{
    display: inline-block;
    padding-bottom: 12px;
}

footer .col ul li{
    list-style-type: none;
    padding: 4px 0;
}

footer .col ul li a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
    color: black;
}

footer .col ul li a:hover{
    color: #FF4747;
    transition: 0.3s;
}

footer .col ul li a i{
    font-size: 50px;
    padding-bottom: 3px;
}